*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*logo and header*/
.header{
    background-color: #0f5132;
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Nav bar */
.nav-item{
    letter-spacing: 0.2em;
    font-size: 14px;
    text-transform: uppercase;
}
.dropdown-item{
    letter-spacing: 0.2em;
    font-size: 14px;
    text-transform: uppercase;
}
/* footer */
.my_footer{
    background-color: #f8f9fa;
    height: 60px;
}
.my_footer p{
  padding-top: 20px;
  font-size: 14px;
}
/*category.html*/
.my_row_class{
    padding-top: 15px;
}
.my_row_class .mx_auto{
    color: #000;
    font-size: 12px;
}
.my_image{
    width: 100%;
    height: auto;
}
/* image style for product image and category image in their respective pages */
.prod_image{
    width: 550px;
    height: 427px;
}
.cat_image{
    width: 400px;
    height: 300px;
    margin-left:540px;
}
.my_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.my_image_padding{
    padding: 5px;
}
.my_bottom_margin{
    margin-bottom: 10px;
}
.card-body h4{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
/* product page product.html */
.my_prod_row_class{
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_prod_row_class .mx_auto{
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
.my_product_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 15px;
    padding-bottom: 10px;
}
.my_product_text{
    padding-right: 20px;
}
/* Search app style -search.html */
.my_search_text{
    padding-top: 20px;
}
/* cart.html styles below */
.my_custom_table{
    min-width: 400px;
    font-size: 14px;
}
.my_custom_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color:gray;
}
.custom_a{
    text-decoration: none;
}
.custom_icon{
    text-decoration: none;
    color: #868e96;
}
.my_custom_button{
    margin-top:5px;
}
.cart_image{
    width: 211px;
    height: 200px;
}